# Windows image file caches
Thumbs.db
ehthumbs.db

.idea/

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

__pycache__/
_logs/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Portal 2 stuff
*.vmx
*.log
*.prt
*.bsp
*.lin
*.filelist.txt
*.blend1

# Don't commit textures/, these are just copies of P2 VTFs as PNG so blender can read them.
textures/

# Don't commit decompiled model files, we can get those easily.
decompiled*/
# Substance autosaves.
.autosave/

# Don't commit Blender's backups.
*.blend1
